/**
 * Module dependencies
 */

import {darken, other} from 'css-utils/darken'

var bg = colors.bg
var foo = 'red'

- colors.red = '123'

body
  background: =bg
  color: =foo

  .foo
    bar: baz

  .(foo)-(bg)
    background: =foo

export var foo = foo

test
  foo: 123
